.card-height{
    height: 450px;
}

.card:hover{
    background-color: #FCEEF5;
}

.card-height:hover img{
    transform: scale(1.1);
    transition: transform 4s;
}

.card img{
    margin-top: 10px;
    height: 150px;
    clip-path: circle();
}

.card-body h5{
    color: #d0307a;
    font-family: 'Neucha', cursive;
    font-weight: bold;
}

.select-btn{
    background-color: #f7cad0 !important;
}

.card:hover .select-btn{
    background-color: #d55d92!important;
}

.circle-icon{
    background: #f5f3f4;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    padding: 2px;
}

.card:hover .circle-icon{
    border: 1px solid gray;
}